<!DOCTYPE html>
<html lang="en">

<div th:replace="fragments/head :: head('Source Manage')"></div>
<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div th:replace="fragments/sliderbar :: sliderbar"></div>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="fragments/topbar :: topbar"></div>

                <!-- Create/Edit Form -->

                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header bg-gradient-info">
                                    <h2 class="text-center text-white">Quản lý Source Airdrop</h2>
                                </div>
                                <div class="card-body">
                                    <!-- Create/Edit Form -->
                                    <form id="itemForm">
                                        <div class="mb-3">
                                            <label for="itemName" class="form-label">Source Name:</label>
                                            <input type="text" class="form-control" id="itemName" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="itemLink" class="form-label">Source Link:</label>
                                            <input type="text" class="form-control" id="itemLink" required>
                                        </div>
                                        <input type="hidden" id="itemId">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="mb-4">List Source</h3>
                                    <table class="table table-striped" id="sourceTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Link</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="itemList">
                                        <!-- List items will be dynamically added here -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <div th:replace="fragments/bottom :: bottom"></div>
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var dataTable = $('#sourceTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                processing: true,
                serverSide: false, // Set to true if you want server-side processing
                ajax: {
                    url: 'api/source/list',
                    type: 'GET',
                    dataSrc: ''
                },
                pageLength: 8,
                columns: [
                    {data: 'id'},
                    {data: 'name'},
                    {
                        data: 'link',
                        render: function (data, type, row) {
                            return '<a href="' + data + '" target="_blank">' + data + '</a>';
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<button class="btn btn-warning edit-item mr-1" data-id="${row.id}"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger delete-item mr-1" data-id="${row.id}"><i class="fas fa-backspace"></i></button>`;
                        }
                    }
                ]
            });

            // Submit form to add or update item
            $("#itemForm").submit(function (event) {
                event.preventDefault();

                // Get form data
                var formData = {
                    name: $("#itemName").val(),
                    link: $("#itemLink").val()
                };

                // Determine if it's an add or edit operation
                var itemId = $("#itemId").val();
                var apiEndpoint = itemId ? "api/source/" + itemId : "api/source";

                // Send API request
                $.ajax({
                    type: itemId ? "PUT" : "POST",
                    url: apiEndpoint,
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    beforeSend: function () {

                    },
                    success: function () {
                        // Clear form and reload DataTable
                        clearForm();
                        dataTable.ajax.reload();
                        dataTable.draw();
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    },
                    complete: function () {

                    }
                });
            });

            // Delete item
            $("#sourceTable").on("click", ".delete-item", function () {
                var itemId = $(this).data("id");

                // Send API request to delete item
                $.ajax({
                    type: "DELETE",
                    url: "api/source/" + itemId,
                    success: function () {
                        // Reload DataTable
                        dataTable.ajax.reload();
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });

            // Edit item
            $("#sourceTable").on("click", ".edit-item", function () {
                var itemId = $(this).data("id");

                // Send API request to get item details
                $.ajax({
                    type: "GET",
                    url: "api/source/" + itemId,
                    success: function (item) {
                        // Fill form fields with item details
                        $("#itemName").val(item.name);
                        $("#itemLink").val(item.link);
                        $("#itemId").val(item.id);
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });

            function clearForm() {
                $("#itemName").val("");
                $("#itemLink").val("");
                $("#itemId").val("");
            }
        });
    </script>
</body>

</html>